body, td {
	font-family: helvetica;
	margin: 3%;
	padding: 0;
}
div.code {
	padding: 1em;
	background: #eee;
	margin: 1em;
	border: solid 1px #ccc;
	white-space: pre;
	font-family: courier;
}
span.note {
	font-style: italic;
	color: #888;
}
